<!DOCTYPE html>
<html  lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
  <footer>
    <div class="divfoot">
      <div class="divtext">&copy; 2024 Learn Sphere. All rights reserved</div>
    </div>
    <script th:src="@{/js/registration.js}"></script>
    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/login.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </footer>
</body>

</html>