<!DOCTYPE html>
<html  lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
  <header>
    <a href="/" class="logo"><span>Learn Sphere</span>
    </a>

    <ul class="navbar">
      <li><a href="/" class="active">Home</a></li>
      <li><a href="#" >About</a></li>
      <li><a href="#" >Contact</a></li>
    </ul>

    <div class="main">
      <span sec:authorize="!isAuthenticated()">
        <a href="/login" class="user">Sign In</a>
      </span>
      <span sec:authorize="!isAuthenticated()">
        <a href="/register">Register</a>
      </span>
      <div class="" id="menu-icon">
        <img class="icn change" th:src="@{/images/menu.png}" alt="login avatar" />
      </div>
    </div>
  </header>
</body>
</html>