.body {
    padding: 10px;
}

.hero {
    /* background: url('path/to/your/image.jpg') no-repeat center center/cover; */
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    background-color: #e9ecef;
}

.hero h2 {
    font-size: 3rem;
    margin: 0;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background: #fff;
}

.feature {
    text-align: center;
    width: 30%;
}

.feature h3 {
    color: #000000;
}

.testimonials {
    background: #e9ecef;
    padding: 40px 20px;
    text-align: center;
}

.testimonial {
    margin: 20px 0;
    font-style: italic;
}

.cta {
    background: #000000;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.cta h2 {
    margin: 0;
    font-size: 2rem;
}

.cta p{
    text-align: center;
}