* {
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  text-decoration: none;
}

:root {
  --bg-color: #000000;
  --text-color: #fff;
  --main-color: #676767;
}

header {
  box-sizing: border-box;
  background: var(--bg-color);
  position: relative;
  width: 100%;
  top: 0%;
  right: 0%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 28px 11%;
  transition: all 0.5s ease;
}

header .logo {
  text-decoration: none;
}

.logo span {
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 700;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: var(--main-color);
}

.navbar a.active {
  color: var(--main-color);
}

ul.navbar {
  margin-top: 15px;
  padding-top: 10px;
  list-style: none;
}

.navbar a{
  text-decoration: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main a {
  text-decoration: none;
  width: 60px;
  margin-right: 25px;
  margin-left: 10px;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.5s ease;
}

.user {
  display: flex;
  font-size: 28px;
}

.main a:hover {
  color: var(--main-color);
}

.icn {
  height: 25px;
}

#menu-icon .icn {
  visibility: hidden;
}

#main-icon {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

@media (max-width: 1280px) {
  header {
    padding: 14px 2%;
    transition: 0.2s;
  }

  .navbar a {
    margin: 0px 20px;
  }
}

@media (max-width: 820px) {
  header {
    padding: 14px 2%;
    transition: 0.2s;
  }

  .logo span {
    font-size: 1.45rem;
    font-weight: 700;
  }

  .navbar a {
    font-size: 14px;
    padding: 5px 0;
    margin: 0px 10px;
  }

  .main a{
    font-size: 16px;
  }
}

@media (max-width: 580px) {

  .logo span {
    font-size: 1.5rem;
    font-weight: 700;
  }

  header {
    height: 90px;
    justify-content: right;
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: fixed;
    top: 180px;
    right: -90%;
    height: 300px;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  li {
    width: 130px;
  }

  .navbar a {
    font-size: 18px;
    display: block;
    margin: 10px 0;
    padding: 9px 25px;
  }

  #menu-icon .icn {
    visibility: visible;
  }

  .navbar a:hover {
    transition: all 0.3s ease;
    color: var(--text-color);
    transform: translateX(10px);
    cursor: pointer;
  }

  .navbar a.active {
    color: var(--text-color);
  }

  .navbar.open {
    right: -50%;
  }
}

@media (max-width: 453px) {

  .logo span {
    margin-right: -90px;
  }

  .navbar {
    position: fixed;
    top: 180px;
    right: -100%;
    height: 300px;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  .navbar.open {
    right: -60%;
  }
}