<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" th:href="@{css/studentHome.css}">
    <head th:replace="~{/fragments/head :: head}"></head>
</head>
<body>
    <header th:replace="~{/fragments/header :: header}"></header>
            <ul class="studentlist">
                <li><h2>This is a student home</h2></li><br>
                <li><a href="/purchase">Purchase Course</a></li><br>
                <li><a href="/mycourses">My Cources</a></li>
            </ul><br>
    <footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>

