<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <head th:replace="~{/fragments/head :: head}"></head>
</head>
<body>
    <header th:replace="~{/fragments/header :: header}"></header>
    
    <p th:text="${name}">Default message</p>
    <p th:text="${role}">Default message</p>

    <footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>
